
*
{
	margin: 0;
	padding: 0;
}
.cabecalho 
	{
		background: rgba(255, 0, 0, 0.7);
		height: 90px;
		width: 100%;
		display: flex;
		
		justify-content: center;
		align-items: center;
		text-align: center;
		
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
	}

.rodape 
	{
		background: rgba(255, 0, 0, 0.7);
		height: 120px;
		width: 100%;
		display: flex;
		
		justify-content: center;
		align-items: center;
		text-align: center;
		
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
		font-weight: bold;
		line-height: 1.6;
	}

.frase
	{
		background: rgba(255, 0, 0, 0.7);
		width: 100%;
		display: flex;
		
		justify-content: center;
		align-items: center;
		text-align: center;
		
		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
		font-weight: bold;
		font-size: 26;

		line-height: 1.6;
	}

.links
	{
		width: 100%;
		display: flex;

	    padding: 20px;
		
		justify-content: center;
		align-items: center;
		text-align: center;
		
		

		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
		font-weight: bold;
		font-size: 26;

		line-height: 1.6;
		justify-content: space-around;
	}

.form
	{		
		width: 100%;
		display: flex;
		
		justify-content: center;
		align-items: center;
		text-align: center;
		

		font-family: Arial, Helvetica, sans-serif;
		font-style: italic;
		font-weight: bold;

		line-height: 1.6;
	}

	.social{
		display: flex;
		flex-direction: row;
		gap: 25px;
	}

	.galeria{
		display: grid;
		grid-template-columns:repeat(4, 300px);
		grid-template-rows:repeat(2, 300px);

	}
	.galeriainformacoes{
		text-align: center;
		background-color: coral;
		font-family: Arial, Helvetica, sans-serif;
		padding: 30px;
		display: flex;
		flex-direction: column;
	}
	